{% block filterForm %}

        <!-- Filter -->
        <div id="filter">

            <form action="{{ path(generator.route) }}" method="get">
                <fieldset>
                    <legend>{{ generator.filter.title | trans({}, generator.transDomain) }}</legend>

                    {% for fieldName, field in generator.filter.fields %}
                    <p>
                    {% if field.type == 'daterange' %}
                        <label>{{ field.label | trans({}, generator.transDomain) }}</label>
                        <div>
                            {% trans %}de{% endtrans %}<br/>
                            {{ form_widget(filter_form[fieldName ~ '_from']) }}
                            {% trans %}to{% endtrans %}<br/>
                            {{ form_widget(filter_form[fieldName ~ '_to']) }}
                        </div>
                    {% else %}
                        {{ form_label(filter_form[fieldName], field.label | trans({}, generator.transDomain)) }}
                        <div>
                            {{ form_widget(filter_form[fieldName]) }}
                        </div>
                    {% endif %}
                    </p>
                    {% endfor %}
                </fieldset>
                <div class="actions">
                    <button type="submit" class="btn primary">{% trans %}Filter{% endtrans %}</button>&nbsp;
                    <a class="btn" href="{{ path(generator.route) }}?filtertype[reset]=1">{% trans %}Reset{% endtrans %}</a>
                </div>
            </form>

        </div>
{% endblock %}