{% extends generator.layoutTheme |default('ThemeBootstrapBundle')  ~ '::layout.html.twig' %}
{% block title %}{{ generator.list.title | trans({}, generator.transDomain) }} {% endblock %}

{% block content %}

    <div class="page-header">
        <h1>
            {{ generator.list.title | trans({}, generator.transDomain) }}
            <small>
{% if pager.count == 0  %}
                    ({% trans %}no records{% endtrans %})
{% elseif   pager.count == 1  %}
                    ({% trans %}1 record{% endtrans %})
{% else %}
                    ({{ pager.count }} {% trans %}records{% endtrans %})
{% endif %}
                {% trans %}or{% endtrans %} <a href="{{ path(generator.route ~ '_new') }}">{% trans %}add new{% endtrans %}</a>
            </small>
        </h1>
    </div>

    <div class="row">

{% if pager.count == 0  %}

        <div class="span8 columns">
            <div id="no_records" class="alert span7">
                <p>
                    {% trans %}No records found. You can filter again or{% endtrans %}
                    <a href="{{ path(generator.route ~ '_new') }}"><button type="submit" class="btn primary">{% trans %}Add New{% endtrans %}</button></a>
                </p>
            </div>
        </div>

    {% if filter_form %}
    {% include 'CoregenThemeBootstrapBundle:Coregen:_filterForm.html.twig' %}
    {% endif %}

{% else %}

{% if generator.getListBatchActions() %}
        <form action="{{ path(generator.route ~ '_batch_actions') }}" id="batch_actions_fom" method="post" class="form-inline">
{% endif %}

        <!-- List -->
        <div class="span8 columns">
            <div>
                <table class="table table-bordered table-striped" id="sortTableExample">
                    <thead>
                        <tr>
                        {% if generator.getListBatchActions %}
                            <th>
                                <input type="checkbox" id="checkall" onclick="checkAllCheckboxes(this, 'selected_objects' )" />
                            </th>
                        {% endif %}
                        {% for field in generator.listDisplayFields %}
                            <th>{{ field.label | trans({}, generator.transDomain)  }}</th>
                        {% endfor %}
                        {% if generator.list.object_actions %}
                            <th>{% trans %}Actions{% endtrans %}</th>
                        {% endif %}
                        </tr>
                   </thead>
                    <tbody>
                        {% for record in pager.getResults %}
                        <tr>
                            {% if generator.getListBatchActions %}
                            <td>
                                <input type="checkbox" id="selected_objects_{{ generator.renderField('id', record) }}" name="selected_objects[{{ generator.renderField('id', record) }}]" value="1"/>
                            </td>
                            {% endif %}
                            {% for fieldName, field in generator.listDisplayFields %}

                                {% if field.list_partial is defined %}
                                    <td>{% include field.list_partial %}</td>
                                {% elseif field.collection is defined and  field.collection %}
                                    {% set data = generator.renderField(fieldName, record) %}
                                    <td>
                                        <ul>
                                        {% for item in data %}
                                            <li>{{ item }}</li>
                                        {% endfor %}
                                        </ul>
                                    </td>
                                {% elseif field.date_format is defined %}
                                    {% set data = generator.renderField(fieldName, record) %}
                                    {% if data %}
                                        <td>{{ generator.renderField(fieldName, record) | date(field.date_format) }}</td>
                                    {% else %}
                                        <td>&nbsp;</td>
                                    {% endif %}
                                {% else %}
                                    {% set data = generator.renderField(fieldName, record) %}
                                    {% if field.boolean_format is defined %}
                                        {% if data %}
                                            {% set data = field.boolean_format[1] %}
                                        {% else %}
                                            {% set data = field.boolean_format[0] %}
                                        {% endif %}
                                    {% endif %}
                                    {% if field.raw is defined and  field.raw %}
                                        {% set data = data | raw %}
                                    {% endif %}
                                    {% if field.trans is defined and field.trans%}
                                        {% set data = data | trans({}, generator.transDomain) %}
                                    {% endif %}
                                    <td>{{ data }}</td>
                                {% endif %}
                            {% endfor %}
{% include 'CoregenThemeBootstrapBundle:Coregen:_objectActions.html.twig' %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Hidden form to submit Deletion -->
            {{ form_widget(delete_form) }}

{% if generator.getListBatchActions %}
{% block batchActions %}{% endblock %}
{% include 'CoregenThemeBootstrapBundle:Coregen:_batchActions.html.twig' %}
{% endif %}

{% block paginator %}{% endblock %}
{% include 'CoregenThemeBootstrapBundle:Coregen:_paginator.html.twig' %}

        </div>

{% if generator.getListBatchActions %}
        </form>
{% endif %}


{% if filter_form %}
{% include 'CoregenThemeBootstrapBundle:Coregen:_filterForm.html.twig' %}
{% endif %}

    </div>
{% endif %}
{% endblock %}